<div class="container page-content">
  <div class="row">
     <div class="span12">
       <div class="box-container">
         
 <center> <h2 class = "page-title", style="text-align center"><strong>Sign up</strong></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
    
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    
    
    
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
   <center> <%= f.password_field :password, autocomplete: "off" %></center>
  
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
 <br>

  
    <center><%= f.submit "Sign up", class: "btn span2 btn-realto-form btn-large" %></center>
<% end %>

<%= render "devise/shared/links" %>
        </div></center>
      </div>
    </div>
  </div>
</div>
</div>