<div class="container page-content">
    <div class="row">
        <div class="span12">
            <div class="row">
                <% if @restaurants.blank? %>
              >
                <h3><bold>Could not find a restaurant with your search criteria</bold></h3>
                
                <% else %>
                <% @restaurants.each do |restaurant| %>
                <div class="span4 box-container">
                    <div class="holder">
                        <a class="overlay" href="#" title="property title">
                            <span class="more"></span>
                            <% if restaurant.image_url.present? %>
                                <%= link_to image_tag(restaurant.image_url.to_s), restaurant %>
                            <% else %>
                                <%= link_to image_tag("https://placehold.it/370x210"), restaurant %>
                             <% end %>
                        </a>
                        
                         <% if restaurant.reviews.present? %>
        		               <span class="prop-tag star-rating" data-score=<%= restaurant.reviews.average(:rating).round(2) %>></span>
        		          <% else %>
        		               <span class="prop-tag">No review yet!</span>
        		          <% end %>
                        <div class="prop-info">
                            <h3 class="prop-title"><%= link_to restaurant.name, restaurant %></h3>
                            <ul class="more-info clearfix">
                                <li class="info-label clearfix"><span class="pull-left">Phone:</span>
                                    <span class="qty pull-right"><%= restaurant.phone %></span></li>
                                <li class="info-label clearfix"><span class="pull-left">Location: </span>
                                    <span class="qty pull-right"><%= restaurant.city %>, <%= restaurant.state %></span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <% end %>
                <% end %>
                    </div>
                </div>
                <!-- .span4 .box-container -->
            </div>
            <!-- .row -->
        </div>
        <!-- .span12 -->
    </div>
    <!-- .row -->
</div>
<!-- .container -->
<div class="container">
    <div class="row">
        <div class="span12 box-container">
            <div class="row adv-message clearfix">
                <div class="pull-left span7">
                    <p class="upper-line serif italic">FeedMe finds all the nearest restaurants to your criteria</p>
                    <p class="lower-line">If you have any thoughts you would like to share about a restaurant not listed, please create a restaurant and leave a review.</p>
                </div><br />
                <!-- .pull-left -->
                <%= link_to "Create Restaurant/Write a Review", new_restaurant_path, class: "button; btn btn-primary btn-lgbtn3d" %>
            </div>
            <!-- .adv-message  -->
        </div>
    </div>
</div>
 
