
<div class="container page-content">
    <div class="row">
        <div class="span8">
            <div class="box-container">
                <div class="cycle-slideshow" data-cycle-fx="fade" data-cycle-timeout="0" data-cycle-swipe="true" data-cycle-pager="#adv-custom-pager" data-cycle-pager-template='<a href="#" ><img src="{{src}}"></a>' data-cycle-prev="#prev" data-cycle-next="#next">
                
                <%= image_tag @restaurant.image_url %>
                
                	
                </div><!-- .cycle-slideshow -->
                <div id="adv-custom-pager"></div>
                <div class="clearfix">
                    <div class="clearfix padding30">
                        <h2 class="prop-title pull-left margin0"><%= @restaurant.name %></h2>
                        <% if current_user.try(:admin?) %>
                        <small><%= link_to "Edit", edit_restaurant_path, class: "btn btn-primary btn-mini" %></small>
                        <small><%= link_to "Delete Restaurant", restaurant_path, method: :delete, class: "btn btn-danger btn-mini" %></small>
                        <% else %>
                        <% end %>
                        <span class="prop-price pull-right serif italic star-rating" data-score=<%= @avg_rating %>> </span>
                    </div>
                    <div class="clearfix padding030 row-fluid">
                        <ul class="more-info pull-left span6">
                            <li class="info-label clearfix"><span class="pull-left">Cuisine:</span>
                                <span class="qty pull-right"><%= @restaurant.cuisine.name %></span></li>
                            <li class="info-label clearfix"><span class="pull-left">Website:</span>
                                <span class="qty pull-right"></span></li>
                            <li class="info-label clearfix"><span class="pull-left">Description:</span>
                                <span class="qty pull-right"><%= @restaurant.description %></span></li>
                         
                        </ul>
                        <ul class="more-info pull-right span6">
                            <li class="info-label clearfix"><span class="pull-left">Phone:</span>
                                <span class="qty pull-right"><%= @restaurant.phone %></span></li>
                            <li class="info-label clearfix"><span class="pull-left">Email:</span>
                                <span class="qty pull-right"><%= @restaurant.email %></span></li>
                            <li class="info-label clearfix"><span class="pull-left">Address:</span>
                                <span class="qty pull-right">
                                    <%= @restaurant.address1 %><br />
                                    <%= @restaurant.address2 %><br />
                                    <%= @restaurant.city %><br />
                                    <%= @restaurant.state %><br />
                                    <%= @restaurant.zipcode %><br />
                                    
                        </ul>
                    </div>
                    <div class="clearfix padding30">
                         <%= link_to "Write a Review", new_restaurant_review_path(@restaurant.id), class: "button; btn btn-primary btn-lgbtn3d" %>
                        <h3>Reviews</h3>
                        <% if @reviews.blank? %>
                        <p><strong>No reviews yet!</strong></p>
                        <% else %>
                        <table class="table">
                            <head>
                                <tr>
                                   <th class= "col-mid-3"</th>
                                    <th class= "col-mid9"></th>
                                </tr>
                            </head>
                            <body>
                                <% @reviews.each do |review| %>
                                <tr>
                                    <td>
                                        <h5><%= '#{review.user.first_name} #{review.user.last_name}' %></h5>
                                        
                                    </td>
                                    <td>
                                          <div class="clearfix star-rating" data-score=<%= review.rating %>> </div>
                                          <%= review.comment %>
                                    </td>
                                </tr>
                                <% end %>
                            </body>
                        </table>
                        
                         
                        <% end %>
                        
                          
                    </div>
                </div>
            </div>
        </div>
        <!-- .span8 -->
        <div class="span4">
            <div class="widget map box-container padding30">
                <h3 class="widget-title">Map &amp; Directions</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d20868.193018909!2d<%= @restaurant.longitude %>!3d<%= @restaurant.latitude %>!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sca!4v1502737531660" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="agent-box widget box-container clearfix padding30">
                <div class="">
                    <div class="pull-left">
                        <img alt="image" class="media-object agent-avatar" src="images/agent-01.jpg" />
                    </div>
                    <div class="pull-left">
                        <h3>Contact App Creator</h3>
                        <ul>
                            <li>Faris Parkar</li>
                            <li><a href="#">farisparkar@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- .agent-box -->
           <section class="pull-left"><div class="search-form widget">
               
             <p><strong>Search for Food</strong></p>
             <%= form_tag search_restaurants_path, method: :get do |f| %>
                 <%= text_field_tag :search , nil, placeholder: "burgers, sushi, noodles, etc."%>
                 <%= text_field_tag :location , nil, placeholder: "Downtown, Burnaby, North Vancouver, etc."%>
                 <%= select_tag :cuisine, options_for_select(Cuisine.all.map{ |c| [c.name, c.id]}) %> <br />
                 <%= submit_tag  'Find Me Food', class: "button; btn btn-primary btn-lgbtn3d" %>
             <% end %>
         </div>
         </section>
         </center> 
            <!-- .search-form -->
        </div>
        <!-- .span4 -->
    </div>
    <!-- .row -->
</div>
<!-- .container -->
<div class="container">
    <div class="row">
        <div class="span12 box-container">
            <div class="row adv-message clearfix">
                <div class="pull-left span7">
                    <p class="upper-line serif italic">FeedMe finds all the nearest restaurants to your criteria</p>
                    <p class="lower-line">If you have any thoughts you would like to share about a restaurant not listed, please create a restaurant and leave a review.</p>
                </div><br />
                <!-- .pull-left -->
                <%= link_to "Create Restaurant/Write a Review", new_restaurant_path, class: "button; btn btn-primary btn-lgbtn3d" %>
            </div>
            <!-- .adv-message  -->
        </div>
    </div>
</div>
